.section-about{
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font: normal normal 600 39px/45px Poppins;
        color: black;

        > span {
            display: block;
            color: #E0752F;
        }
    }

    p {
        font: normal normal normal 16px/28px Roboto;
        text-align: left;
    }
}