.section-landing{
    color: white;
    width: 1366px;
    //height: 768px;
    background-image: url('../images/slider-1.png');
    //background-repeat: cover;
    //background-position: center;

    .button-landing{
        top: 480px;
        left: 101px;
        width: 144px;
        height: 48px;
        background: #E0752F;
        border-radius: 25px;
        border-color: #E0752F;
        opacity: 1;
    }


    h2 {
        top: 254px;
        left: 101px;
        width: 554px;
        padding-top: 158px;
        padding-bottom: 30px;
        /* UI Properties */

        text-align: left;
        font: normal normal 450 48px/48px Poppins;
        letter-spacing: 0.67px;
        color: #FFFFFF;
        opacity: 1;
    }

    p{
        top: 399px;
        left: 101px;
        width: 343px;
        height: 42px;
        /* UI Properties */
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
        text-align: left;
        letter-spacing: 0.22px;
        color: #FFFFFF;
        opacity: 1;
        padding-bottom: 70px;
    }
}

.landing-content{
    height: 672px;
    margin-left: 0px;
}