@import '~bootstrap/scss/bootstrap.scss';

.landing{
    height: 768px;
    background-image: url('../public/slider-1.png');
}

.about{
    height: 768px;
}

.products{
    height: 768px;
}

.services{
    height: 768px;
}

.contact{
    height: 768px;
}