@import '~bootstrap/scss/bootstrap.scss';

.principal{
    background-color: bisque;
    background-position: center;
}

.landing{
    width: 1366px;
    height: 768px;
    background-image: url('./images/slider-1.png');
    background-repeat: no-repeat;
    //background-position: center;
}

.about{
    width: 1366px;
    height: 768px;
}

.products{
    width: 1366px;
    height: 768px;
}

.services{
    width: 1366px;
    height: 768px;
}

.contact{
    width: 1366px;
    height: 768px;
}